// api/index.ts
import express, { Request, Response } from 'express';
import { Logger } from './helper';
import { routes } from './routes';

const app = express();

app.use(express.json());
routes.forEach(route => {
    app.use(route.path, route.router);
});
const port = 8000
// Definisikan endpoint /hello
// app.get('/hello', (req: Request, res: Response) => {
//   res.json({ message: 'Hello from Express!' });
// });

app.listen(port, async (): Promise<void> => {
  try {
      Logger.info(`[Bun-Service] Server is running on port ${port}`);
  } catch (error) {
      if (error instanceof Error) {
          Logger.error(
              `Error starting server: Message: ${error.message} | Stack: ${error.stack}`
          );
      } else {
          Logger.error(`Error starting server: ${String(error)}`);
      }
  }
});

// Ekspor aplikasi
export default app;